/* ==========================================
   SESSIONS SECTION
   Sessions section styling
   ========================================== */

.section--sessions {
  position: relative;
  isolation: isolate;
  background-image: url('../../images/bg1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid var(--color-border-soft);
  border-bottom: 1px solid var(--color-border-soft);
}

.section--sessions .container {
  position: relative;
  z-index: 1;
}

